html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Arvo', serif;
    font-size: 16px;
}

.container {
	margin: 0px auto;
	 max-width: 940px;


}

.header {
	padding-top: 40px;
	padding-bottom: 40px;


	
}

.header h1 {
	margin-left: 80px;
}

.nav-pills {
	float: right;
	margin-right: 80px;
	margin-top: 20px;
	
}

.nav-pills li a {
	border: 1px solid  #d8192f;
	color: #d8192f ;
	margin-left: 10px;
	
}

.nav-pills li.active a:hover, .nav-pills li.active a, .nav-pills li a:hover {
	background-color:rgba(216,25,47,1);
    color:#fff;
    box-shadow:0 2px 4px  rgba(0,0,0,.5); 
}

.jumbotron {
	background-image: url(https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg);
	height: 700px;
	background-size: cover;
	color: #fff;
	padding-top: 150px;
	
}

.banner {
	background-color:#36343f;
    padding-bottom: 39px;
    color: #fff;
    
     
}

.banner .container, .section {
	text-align: center;
	
}


}
.banner h2 {
	padding-bottom: 10px;
	padding-top: 20px;
}

.row h3 {
	color: #d8192f;
	

}

.section {
	margin-bottom: 96px;

}


	


.footer {
	height: 15px;
	padding-top: 43px;
	padding-bottom: 85px;
    background-color: #F0F0F0 ;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
   

}

.banner .btn {
	color:#fff;
	border: 1px solid #A52A2A ;
	background-color: #A52A2A;
}

.banner .btn:hover {
	background-color: rgba(216,25,47,1);
	border: 1px solid rgba(216,25,47,1) ;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

/* Media Queries */
@media (max-width: 680px) {
  .header h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav {
    float: none;
    margin: 0 auto;
  }
  .banner {
    height: 220px;
  }

  .nav-pills li:first-child a  {
    margin-left: 0;
  }
}